body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
#contenedorhe{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
#contenedor{
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.navbar {
    background-color: #1D202B;
    overflow: hidden;
  }

  .navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: rgb(161, 157, 157);
  }
#imagen{
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 100%;
}
#imagen img{
  width: 20%;
  height: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.icono {
  width: 4%; 
  height: 10%;
  position: absolute;
  left: 1260px;
  top: -4px;
  padding: 9px 0;
}
#inicio{
  position: absolute;
  left: 1000px;
}

#administrador{
  position: absolute;
  left: 1100px;
}

#container{
  max-width: 2000px;
  margin: 50px 110px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  color: #000000;
}

#container .fondo{
  opacity: 0.5;
  width: 1129px;
  height: 575px;
  position: absolute;
  left: 110px;
  top: 213px;

}
#container h2{
  position: relative;
  text-align: center;
}
#name{
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 214px;
  left: 526px;
}
#nombre{
  position: absolute;
  right: 525px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  padding: 0px, 31px, 0px, 7px;
  border-color: #000000;
  border-width: 2px;
}
#apelli{
  position: relative;
  left: 470px;
  top: -45px;
  font-family: Arial, Helvetica, sans-serif;
}
#apellido{
  position: absolute;
  right: 140px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  padding: 0px, 31px, 0px, 7px;
  gap: 10px;
  border-color: #000000;
  border-width: 2px;
}
#date{
  position: relative;
  left: 785px;
  top: -75px;
  font-family: Arial, Helvetica, sans-serif;
}
#fecha_nacimiento{
  position: relative;
  left: 610px;
  top: -30px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#numce{
  position: relative;
  left: 0px;
  top: -6px;
  font-family: Arial, Helvetica, sans-serif;
}
#cedula{
  position: relative;
  right: 0px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#sexo{
  position: relative;
  left:0px;
  top: -15px;
  font-family: Arial, Helvetica, sans-serif;
}
#sexoSele{
  position: relative;
  right: 45px;
  top: 30px;
  width: 310px;
  height: 30px;
  border-radius: 3px;
  border-color: #000000;
  border-width: 2px;
}

#estado{
  position: relative;
  left: 40px;
  top: -15px;
  font-family: Arial, Helvetica, sans-serif;
}

#estadoCivil{
  position: relative;
  right: 58px;
  top: 30px;
  width: 310px;
  height: 30px;
  border-radius: 3px;
  border-color: #000000;
  border-width: 2px;

}
#canton{
  position: relative;
  left: 480px;
  top: -60px;
  font-family: Arial, Helvetica, sans-serif;
}
#cantonIn{
  top: -53px;
  position: relative;
  right: -770px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}

#parroquia{
  position: relative;
  left: 20px;
  top: -25px;
  font-family: Arial, Helvetica, sans-serif;
}

#parroquiaIn {
  top:-17px;
  position: relative;
  right: -390px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#pronvin{
  position: relative;
  left: 0px;
  top: -25px;
  font-family: Arial, Helvetica, sans-serif;
}
#provincia{
  top: 20px;
  position: relative;
  right: 70px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#direccion{
  position: relative;
  left: -315px;
  top: -5px;
  font-family: Arial, Helvetica, sans-serif;
}
#direccionn{
  top: 9px;
  position: relative;
  right: 0px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#licencia{
  position: relative;
  left: 90px;
  top: -40px;
  font-family: Arial, Helvetica, sans-serif;
}
#tipolicencia{
  position: relative;
  right: 40px;
  top: 10px;
  width: 310px;
  height: 30px;
  border-radius: 3px;
  border-color: #000000;
  border-width: 2px;
}
#emision{
  position: relative;
  left: -310px;
  top: 19px;
  font-family: Arial, Helvetica, sans-serif;
}
#fechaemision{
  position: relative;
  right: 438px;
  top: 65px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}

#vencimiento{
  position: relative;
  left: 410px;
  top: -40px;
  font-family: Arial, Helvetica, sans-serif;
}
#fechavencimiento{
  top: 5px;
  position: relative;
  right: -230px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#telefc{
  position: relative;
  left: 70px;
  top: -25px;
  color: #000000;
}
#telefonoC{
  top: 11px;
  position: relative;
  right: -5px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#email{
  position: relative;
  left: 50px;
  top: -40px;
  font-family: Arial, Helvetica, sans-serif;
}
#Email{
  top: -28px;
  position: relative;
  right: -775px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
#cel{
  position: relative;
  left: 490px;
  top: -130px;
  font-family: Arial, Helvetica, sans-serif;
}
#cell{
  position: relative;
  right: -410px;
  top: -86px;
  width: 310px;
  height: 30px;
  border-radius: 9px;
  border-color: #000000;
  border-width: 2px;
}
button {
background-color: #4CAF50;
color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
float: left;
margin-right: 10px;
cursor: pointer;
margin-bottom: 10px;
position: relative;
left: 850px;
top: -24px;
}

.registrarse button {
background-color: #2579e6;
}

.cancelar button {
background-color: #ec0d0d;
}


.container{
  max-width:840px;
  margin: 0 auto 8px auto;
}
#footer{
  background-color: #1D202A;
  position: relative;
  top: 100px;
  padding: 100px; 
}
#footer p{
  position: absolute;
  color: white;
  top: 35px;
}
#contact{
  position: absolute;
}
#contact p{
  position: absolute;
  top: -65px;
}
#contact a{
  position: relative;
  color: white;
  left: 80px;
  top: -50px;
}
#btnwasa{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
}
#btnmail{
  position: absolute;
  height: 40px;
  width: 40px;
  top: 75px;
}
#btntelef{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 145px;
}
#inf a{
  position: absolute;
  left: 350px;
  color: rgb(124, 124, 124);
}
#destin a{
  position: absolute;
  left: 600px;
  color: rgb(124, 124, 124);
}
#destin p{
  position: absolute;
  left: 600px;
  color: white;
}
.soport p{
  left: 800px;
}
#soport a{
  position: absolute;
  left: 800px;
  color: rgb(124, 124, 124);
}
#soport p{
  position: absolute;
  left: 800px;
  color: white;
}
#follow{
  position: absolute;
  top: 0px;
  left: 1030px;
}
#fb{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
}
#ig{
  position: absolute;
  height: 40px;
  width: 40px; 
  top: 80px;
  left: 50px;
}