<link rel="stylesheet" href="/css/inicio.css">
<from action="/"method="post">
<body>
<head>
    <div id="contendodrhe">
        <div>
            <div class="navbar">
                <div id="imagen">
                    <img src="/img/logon.png"></img></div>
                    <a id="inicio" href="#">Inicio</a>
                    <button id="boton" type="button" href="#">Ingresar</button>
            </div>
    </div>
</head>
<div id="contenedor">
    <div id="panesillo">
        <img src="/img/panesillo.jpeg" alt="">
    </div>
    <div id="servicios">
        <p>SERVICIOS</p>
    </div>
    <div id="card1">
        <img src="/img/login.jpg" alt="" style="width:80%">
            <h1>Buses y</h1>
            <h1>Cooperativa</h1>
            <a href="">Ver más..</a>
    </div>
        <div id="card2">
            <img src="/img/empleados.png" alt="" style="width:80%">
                <h1>Empleados</h1> <br>
                <a href="">Ver más..</a>
        </div>
    </div>
    </div>
        <div id="card3">
            <img src="/img/encomiendav2.jpg" alt="" style="width:80%">
                <h1>Encomienda</h1>
                <p class="price">Encontrarás aventuras que nunca podrás olvidar.</p>
                <a href="">Ver más..</a>
        </div>
    </div>
    </div>
        <div id="card4">
            <img src="/img/choferes.jpeg" alt="" style="width:85%">
                <h1>Choferes</h1>
                <p class="price">Encontrarás aventuras que nunca podrás olvidar.</p>
                <a href="">Ver más..</a>
        </div>
    </div>
</div>
<footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div class="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
          </div>
          <div id="destin">
            <p>Destinos</p><br>
            <a>Playa</a><br>
            <a>Montaña</a><br>
            <a>Inolvidables eventos</a>
          </div>
          <div class="soport">
            <p>Soporte</p>
            
          </div>
        </div>
      </div>
    </footer>
</body>
</from>