<link rel="stylesheet" href="/css/login.css">
<from action ="/"method="post">
<title>Inicio de Sesion</title>
<body>
            <div class="contenedor">
                <img class="imagen" src="/img/login.jpg" alt="">
                <img class="hogar" src="/img/hogar.png" alt="">
                <img class="desbloquear" src="/img/desbloquear.png" alt="">
                <img class="usuario" src="/img/usuario.png" alt="">

                 <h1>Inicio de Sesi칩n</h1>
                 <form>

            <div id="input-box">
                <input type="email" name="correo_electronico" placeholder="Usuario" required />
            </div>
            <div id="input-box">
                <input type="password" name="password_administrador" placeholder="Contrase침a" required />
            </div>
            <div class="check">
                <label><input type="checkbox">
                Recordar Usuario y Contrase침a
                </label>
            </div>
            <div id="input-box">
                    <input type="submit" value="Iniciar sesi칩n" />
                </div>
        </form>
    </div>
            
</body>   
</from>
