<link rel="stylesheet" href="/css/login.css">
<from action ="/login"method="POST">
<title>Inicio de Sesion</title>
<body>
            <div class="contenedor">
                <img class="imagen" src="/img/login.jpg" alt="">

                 <h1>Inicio de Sesión</h1>
                 <form>

            <div id="input-box">
                <input type="email" name="correo_electronico" placeholder="Usuario" required />
            </div>
            <div id="input-box">
                <input type="password" name="password_administrador" placeholder="Contraseña" required />
            </div>
            <div class="check">
                <label><input type="checkbox">
                Recordar Usuario y Contraseña
                </label>
            </div>
                       <div id="boton1">
                 <a href="/">Iniciar Sesion</a>
        </form>
    </div>
            
</body>   
</from>
