<link rel="stylesheet" href="/css/login.css">
<title>Inicio de Sesion</title>
<body>
    <section id="container">
        <header>Iniciar Sesion</header>
        <center><a href="/"><img src="/img/login.jpg" alt=""></a></center>
        <form action="" method="POST" id="form">
            <div id="input-box">
                <label>Usuario:</label>
                <input type="email" name="correo_electronico" placeholder="ejemplo@gmail.com" required />
            </div>
            <div id="input-box">
                <label>Contraseña:</label>
                <input type="password" name="password_administrador" placeholder="*****" required />
            </div>
           

        </form>
    </section>
</body>